@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.spinner {
  border: 3px solid rgb(0, 0, 0);
  /* Light grey background */
  border-radius: 50%;
  border-top: 3px solid rgb(255, 255, 255);
  /* Red spinner color */
  width: 16px;
  height: 16px;
  animation: spin 0.9s linear infinite;
  display: inline-block;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

footer {
  position: relative;
  /* Change to relative */
  bottom: 0;
  /* Ensures it stays at the bottom */
  left: 0;
  right: 0;
}

.badge {
  position: absolute;
  top: 25px;
  padding: 3px 7px;
  background-color: #ea6e6e;
  color: #fff;
  border-radius: 15px;
  z-index: 999;
  transform: rotate(-45deg);
}