@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #ffffff;
    --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

.spinner {
    border: 3px solid rgb(0, 0, 0);
    /* Light grey background */
    border-radius: 50%;
    border-top: 3px solid rgb(255, 255, 255);
    /* Red spinner color */
    width: 16px;
    height: 16px;
    animation: spin 0.9s linear infinite;
    display: inline-block;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

footer {
    position: relative;
    /* Change to relative */
    bottom: 0;
    /* Ensures it stays at the bottom */
    left: 0;
    right: 0;
}

.badge {
    position: absolute;
    top: 25px;
    padding: 3px 7px;
    background-color: #ea6e6e;
    color: #fff;
    border-radius: 15px;
    z-index: 999;
    transform: rotate(-45deg);
}

@keyframes float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0);
    }
}

.animate-float-slow-1 {
    animation: float 9s ease-in-out infinite;
}

.animate-float-slow-2 {
    animation: float 8s ease-in-out infinite;
}

.animate-float-slow-3 {
    animation: float 7s ease-in-out infinite;
}

.animate-float-medium {
    animation: float 6s ease-in-out infinite;
}

.animate-float-fast {
    animation: float 2s ease-in-out infinite;
}

/* Floating Animation */
@keyframes float {
    0%,
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

.animate-float {
    animation: float 5s ease-in-out infinite;
}
.animate-float2 {
    animation: float 7s ease-in-out infinite;
}
.animate-float3 {
    animation: float 9s ease-in-out infinite;
}

.hover-scale {
    transition: all 0.6s ease;
}
.hover-scale:hover {
    transform: scale(1.05, 1.5);
}

.hover-shadow:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease;
}

.hover-color:hover {
    background-color: #f0f4ff; /* Light blue */
    transition: background-color 0.3s ease;
}

.hover-effect:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    background-color: #f0f4ff;
    transition: all 0.6s ease;
}
